.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.livechat-girl {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right: 35px;
    opacity: 0;
    box-shadow: 2px 2px 3px #999;
    z-index: 700;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    cursor: pointer;
    -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1)
}

.livechat-girl:focus {
    outline: 0
}

.livechat-girl.animated {
    opacity: 1;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px)
}

.livechat-girl:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #38dc79, #1ab744);
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 500
}

.livechat-girl .girl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 50;
    border-radius: 100%
}

.livechat-girl .animated-circles .circle {
    background: rgb(26 183 68 / 33%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1)
}

.livechat-girl .animated-circles.animated .c-1 {
    animation: 1500ms scaleToggleOne cubic-bezier(0.15, 0.46, 0.45, 0.94) forwards
}

.livechat-girl .animated-circles.animated .c-2 {
    animation: 2000ms scaleToggleTwo cubic-bezier(0.15, 0.46, 0.45, 0.94) forwards
}

.livechat-girl .animated-circles.animated .c-3 {
    animation: 2500ms scaleToggleThree cubic-bezier(0.15, 0.46, 0.45, 0.94) forwards
}

.livechat-girl.animation-stopped .circle {
    opacity: 0 !important
}

.livechat-girl .livechat-hint {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -20px;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    background-color: #1ab744
}

.livechat-girl .livechat-hint.show_hint {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 1
}

.livechat-girl .livechat-hint.hide_hint {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.rd-notice-tooltip {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    border-radius: 3px;
    line-height: 1.25;
    position: absolute;
    z-index: 65;
    max-width: 350px
}

.rd-notice-tooltip.thumb-heart-tooltip {
    z-index: 100;
    margin-top: 19px
}

.rd-notice-tooltip.thumb-heart-tooltip .rd-notice-content {
    padding: 10px 20px
}

.rd-notice-tooltip:after {
    position: absolute;
    display: block;
    content: '';
    height: 20px;
    width: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 50;
    top: 10px;
    right: -6px;
    background-color: #1ab744
}

.rd-notice-tooltip .rd-notice-content {
    background: 0;
    border-radius: 3px;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 60;
    padding: 20px;
    font-weight: 400;
    line-height: 1.45
}

.rd-notice-tooltip .rd-notice-content a {
    color: #fff;
    text-decoration: underline
}

.rd-notice-tooltip .arrow {
    display: none !important
}

.rd-notice-tooltip.alert.rd-closing {
    white-space: normal;
    text-align: left
}

.rd-notice-tooltip.alert.rd-closing .rd-notice-content {
    padding-right: 50px
}

.rd-notice-tooltip.single-line .rd-notice-content {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    white-space: nowrap
}

@keyframes scaleToggleOne {
    from {
        transform: scale(1);
        -webkit-transform: scale(1)
    }

    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes scaleToggleTwo {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }

    20% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }

    60% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes scaleToggleThree {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }

    33% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }

    66% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.float-whatsapp {
    width: 30px;
    height: 30px;
    bottom: 12px;
    left: 11px;
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

@media (max-width:500px) {
    .livechat-girl {
        right: 15px;
        bottom: 0px;
        width: 40px;
        height: 40px;
        z-index: 333;
        /*cursor: move;*/
        /*user-select: none;*/
    }
    
    #MoveWhatsAppheader {
        display: block;
        width: 100%;
        height: 100%;
        cursor: move;
        z-index: 10;
        position: relative;
    }

    .livechat-hint {
        display: none;
    }

    .livechat-girl .animated-circles .circle {
        width: 40px;
        height: 40px;
    }

    .float-whatsapp {
        bottom: 7px;
        left: 6px;
        font-size: 25px;
    }
}