.mobilenav {
    display: none;
    transform: translate3d(0%, -100%, 0px);
    transition: transform .5s ease;
}

@media(max-width:500px) {
    html {
        scroll-padding-top: 40px;
    }

    .mobilenav {
        display: flex;
        transform: translate3d(0, 0, 0);
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .mobilenav .left {
        display: flex;
        align-items: center;
    }
    
    .mobilenav .right {
        display: flex;
    }

    .navbar-collapse {
        padding-top: 8px;
        box-sizing: border-box;
        width: 100%;
    }

    .navbar-nav {
        height: 235px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .navbar-nav .nav-item {
        padding: 0px 5px;
        border-top: 1px solid #e4e4e44d;
        font-size: 16px;
        line-height: 24px;
    }

    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #e81717;
    }

    .navbar-dark .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, .5);
    }

    .navbar-nav .nav-item input[type="checkbox"],
    .navbar-nav .nav-item label {
        display: none;
    }
    
    .dropdown-toggle::after {
        color: #fdb83f;
    }

    .navbar-dark.bg-white {
        background-color: #101010 !important;
        padding: 0.4rem .75rem;
    }
    
    .navbar-brand {
        margin-left: 14px !important;
        margin-right: 0px !important;
    }
    
    nav .language {
        float: left;
        position: absolute;
        top: 11px;
        right: 118px;
        display: inline-flex;
    }
    
    nav .language a {
        padding: 6px;
        background: rgb(17 70 233 / 0%);
        border-radius: 4px;
        color: #202020;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Open Sans';
    }
    
    nav .language a:not(:last-child) {
        margin-right: 3px;
    }
    
    nav .language a.active {
        color: rgb(230 163 45);
        border: 1px solid rgb(255 255 255 / 24%);
    }

    nav a.nav-whatsapp {
        float: left;
        position: absolute;
        top: unset;
        right: unset;
        position: relative;
    }

    nav a.nav-whatsapp {
        /* width: 88px; */
        height: 100%;
        padding: 7px 11px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 20px;
        background: rgb(37, 211, 102);
        background: -moz-linear-gradient(45deg, rgba(37, 211, 102, 1) 0%, rgba(89, 207, 99, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(37, 211, 102, 1) 0%, rgba(89, 207, 99, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#25d366", endColorstr="#59cf63", GradientType=1);
    }

    nav a.nav-whatsapp i {
        display: flex;
        font-size: 17px;
        line-height: 35px;
        color: white;
        margin-right: 7px;
        justify-content: center;
        align-items: center;
    }
    
    nav a.nav-whatsapp span {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: white;
        font-family: "Montserrat", sans-serif;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* text-transform: uppercase; */
    }

    .navbar-toggler,
    .navbar-toggler:focus {
        padding: 0.2rem 0.22rem;
        box-shadow: none;
        transition: unset;
        border-radius: 5px;
    }
    
    .navbar-toggler-icon {
        width: 1.3em;
        height: 1.3em;
    }
}